*{
  --ion-background-color:#C8C8C8;
  --ion-text-color:#FFE300;
}

ion-header {
  ion-toolbar {
    // set background color
    --background: #000000;
    // set icon/text color
    --color: #ffffff;
  }
}

ion-item{
  text-align: center;
  max-width: 240px;
  border: solid 1px #1C1E22;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;

  --ion-item-background:#1C1E22;
  color: #FFE300;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}